*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Raleway;
    text-transform: capitalize;
    background: linear-gradient( 45deg, rgb(91, 155, 99), rgb(11, 65, 104));
}

#todo-wrapper{
    display: flex;
    width: 40%;
    justify-content: space-between
}


#wrapper h1{
    font-size: 3em;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
}


#wrapper input{
    width: 70%;
    outline: none;
    border: 4px solid rgb(11, 65, 104);
    border-radius: 5px;
    color: rgb(11, 65, 104);
    text-transform: uppercase;
    font-size: 1em;
}
#wrapper a{
    color: white;
    display: block;
    padding: 7px;
    text-decoration: none;
    margin-left: 20px;
    background: rgb(11, 65, 104);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s;
}


#wrapper a:hover{
    border: 1px solid rgb(11, 65, 104);
    background: white;
    color: rgb(11, 65, 104);
}

#list-section{
    margin-top: 50px;
    /* background: #111; */
    width: 30%;
    margin-left: -130px;
}

#list-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}



#list-section a{
    text-align: center;
}

.todo-lists{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.todo-lists li{
    padding: 10px;
}

.todo{
    list-style: none;
}